<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <% unless current_user.github_token %>
    <%= link_to 'Connect to GitHub', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section class='github'>
    <% if current_user.github_token %>
      <h1>My GitHub</h1>
      <section class='repositories'>
        <h3>Repositories</h3>
        <% @repos.each do |repo| %>
          <li><%= link_to repo.name, repo.url %></li>
        <% end %>
      </section>
      <section class='followers'>
        <h3>Followers</h3>
        <% @followers.each do |follower| %>
          <li><%= link_to follower.handle, follower.url %>
            <% if current_user.can_friend?(follower.handle) %>
              | <%= button_to "Add Friend", friendships_path(:friend_id => follower.handle) %>
            <% end %>
          </li>
        <% end %>
      </section>
      <section class='following'>
        <h3>Following</h3>
        <% @following.each do |following| %>
          <li><%= link_to following.handle, following.url %>
            <% if current_user.can_friend?(following.handle) %>
              | <%= button_to "Add Friend", friendships_path(:friend_id => following.handle)%>
            <% end %>
          </li>
        <% end %>
      </section>
      <section class='friends'>
        <h3>Github Friends</h3>
        <% @git_friends.each do |friend| %>
          <li><%= friend.first_name %> <%= friend.last_name %> | <%= friend.github_handle %></li>
        <% end %>
      </section>
    <% end %>
  </section>
</section>
